.sight {
  background: #FFF;
  padding: 8px 16px;
  position: relative;
  width: 250px;
}

.sight p {
  margin: 0;
  width: 100%;
  height: auto;
}

.sight span {
  font-size: 14px;
}
.sight p.title {
  font-size: 16px;
}

.sight p.description {
  font-size: 12px;
}

.sight a.close {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
}